.AddExpenses-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 100vw;
}

.AddExpenses-form-container section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.AddExpenses-form-container section label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 500;
  width: 50%;
}

.AddExpenses-form-container section input {
  background-color: white;
  border: 1px solid rgba(61, 52, 52, 0.699);
  border-radius: 5px;
  padding: 0.3rem;
  text-align: center;
  width: 90%;
}

.AddExpenses-form-container section select {
  background-color: white;
  border: 1px solid rgba(61, 52, 52, 0.699);
  border-radius: 5px;
  padding: 0.3rem;
  text-align: center;
  width: 93%;

}

.AddExpenses-form-container section select:hover {
  cursor: pointer;
}

.Add-btn-expense {
  background-color: rgb(44, 156, 230);
  border: none;
  border-radius: 3px;
  color: white;
  margin: auto;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  width: 46%;
}

.Add-btn-expense:hover {
  cursor: pointer;
  opacity: 0.9;
}
